.wrap--gradient {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
    width: $widthSize;
    margin: 0 auto;
    
        * {
            outline: 1px solid rgb(192, 189, 189);
        }
}


.wrap {
    @include flex (row, space-around,center);
    
    .header__logo 

.header__title 

.title__img 

.title__text 
}

.header__logo 

.header__title 

.title__img 

.title__text 

.header__block 

.header__info 

.list__info 

.list__info--item 

.header__nav 

.header__list 

.list__item 

.dropdown 

.dropdown__menu 

.menu__item 

.dropdown__desc 

.dropdown__title 

.dropdown__text 

