// * {
//     outline: 1px solid rgb(192, 189, 189);
// }

.wrap--gradient {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
    box-shadow: 0px 10px 10px -5px #CACADB,
                0px 40px 10px -5px #E7E7F2;

    .header {
        position: relative;
        z-index: 99;
        width: $widthSize;
        margin: 0 auto;

        .wrap {
            background: url(../images/header/Symbol.png) no-repeat;
            background-position: center top;
            z-index: 999;
            height: 1000px;
        }
    }

        .header__block {
            @include flex (row, space-between, center);
            width: 100%;
        }
}

.inner {
    width: 45%;
    @include flex (column, space-between, stretch);

        .info__list {
        @include flex (row, space-between, center);

            .info__list--item{
            color: $basicText;

                .info__link {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 15px;
                    text-align: center;
                    letter-spacing: 1px;
                    color: $basicText;
                }

                .info__link:hover {
                    background: #F0145A;
                    @include transform;
                    cursor: pointer;
                }
            }
        }

        .info__list--primary {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: $basicText;
        }

        .info__list--secondary {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: $basicText;
        }

        .header__nav{
            
            .header__list {
                @include flex(row, space-around, center);
                list-style-type: none;

                    .list__item {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                        color: $basicText;
                    }
                }
        }
}

.header__title {
    .title__text {
        position: absolute;
        left: 27%;
        top: 37%;
        @include formatText (38px, 700, 46px);
        text-align: center;
        color: $basicText;        
    }

    .btn__menu {
        position: absolute;
        left: 48%;
        top: 70%;
    }
}

.dropdown {
    @include flex (row, center, center);

        .dropdown__menu {
            width: 35%;
            text-align: right;
            list-style: none;
            border-right: 4px solid rgba(255, 255, 255, 0.3);
            padding: 0;
            margin: 3%;

            .menu__item--active{
                @include heroReg ();
                background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
                color: transparent;
                background-clip: text;
                padding-right: 6%;
                cursor: pointer;
            }

                .menu__item {
                    @include heroReg ();
                    color: #B3B3BA;
                    padding-bottom: 2%;
                    padding-right: 6%;
                    text-align: inherit;

                    &:hover {
                        color: #F0145A;
                        @include transform ();
                        cursor: pointer;
                    }
                }
        }

        .dropdown__desc {
            width: 65%;
            text-align: left;
            color: $basicText;

                .dropdown__title {
                    @include h2Reg ();
                    padding-bottom: 2%;
                }

                .dropdown__text {
                    @include  intro ();                   
                }
        }
}

.section {
    width: $widthSize;
    margin: 0 auto;

        .section__heading {
            @include h3Caps ();
            color: $activeRegular;
            padding-top: 2%;
        }

        .section__title {
            @include heroReg ();
            @include gradientText ();
            padding-bottom: 2%;
            padding-top: 2%;
        }

        .section__content {
            @include flex (row, stretch, flex-start);
            flex-wrap: wrap;

            .section__item {
                width: 32%;
                padding-right: 3%;
                
                    .section__img {
                        padding-bottom: 2%;
                    }

                    .section__text{
                        @include paragraphReg ();
                        color: $basicText;
                        padding: 3% 0 3% 0;
                    } 
            }
        } 
}

.slider {
    width: $widthSize;
    margin: 0 auto;
    @include flex (row, flex-start, center);
    margin-top: 3%;
    background-color: #F5F5FA;
    // outline: 2px solid red;

        .slider__content {
            padding: 3%;

                .slider__hading {
                    @include h3Caps ();
                    color: $activeRegular;
                }

                .slider__title {
                    @include heroReg ();
                    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
                    background-clip: text;
                    color: transparent;
                    padding-bottom: 3%;
                    padding-top: 1%;
                }

                .slider__subtitle {
                    @include h4Reg ();
                    color: #B3B3BA;
                }

                .slider__text {
                    @include paragraphSmall ();
                    color: #B3B3BA;
                }
        }
}