@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.woff2);
}
@font-face {
    font-family: 'MontserratBold';
    src: url(../fonts/Montserrat-Bold.woff2);
}


$activeRegular: #24A3FF;
$basicText: #fff;
$secondaryText: #909090;
$widthSize: 84%;
$mobile: 375px;
$tabsd: 768px;
$tablarge: 960px;
$tabhd: 1024px;
$desksd: 1440px;
$deskhd: 1920px;

@mixin gradientText {
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    background-clip: text;
    text-fill-color: transparent;
}

@mixin formatText ($size, $fw, $lh) {
    font-size: $size;
    font-weight: $fw;
    line-height: $lh;
    font-family: 'Montserrat';    
}

@mixin flex ($dir, $jc, $ai,) {
    display: flex;
    flex-direction: $dir;
    justify-content: $jc;
    align-items: $ai;
}

@mixin transform {
    transform: scale(0.9);
    transition: all .5s;
}

// mixin for text

@mixin heroReg {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
}

@mixin h2Reg {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
}

@mixin h3Reg {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}

@mixin h4Reg {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

@mixin intro {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
}

@mixin h3Caps {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@mixin paragraphReg {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

@mixin paragraphSmall {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}
