@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.woff2);
}
@font-face {
  font-family: "MontserratBold";
  src: url(../fonts/Montserrat-Bold.woff2);
}
.wrap--gradient {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
  box-shadow: 0px 10px 10px -5px #CACADB, 0px 40px 10px -5px #E7E7F2;
}
.wrap--gradient .header {
  position: relative;
  z-index: 99;
  width: 84%;
  margin: 0 auto;
}
.wrap--gradient .header .wrap {
  background: url(../images/header/Symbol.png) no-repeat;
  background-position: center top;
  z-index: 999;
  height: 1000px;
}
.wrap--gradient .header__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.inner {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.inner .info__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.inner .info__list .info__list--item {
  color: #fff;
}
.inner .info__list .info__list--item .info__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
}
.inner .info__list .info__list--item .info__link:hover {
  background: #F0145A;
  transform: scale(0.9);
  transition: all 0.5s;
  cursor: pointer;
}
.inner .info__list--primary {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.inner .info__list--secondary {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.inner .header__nav .header__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
.inner .header__nav .header__list .list__item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.header__title .title__text {
  position: absolute;
  left: 27%;
  top: 37%;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  font-family: "Montserrat";
  text-align: center;
  color: #fff;
}
.header__title .btn__menu {
  position: absolute;
  left: 48%;
  top: 70%;
}

.dropdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dropdown .dropdown__menu {
  width: 35%;
  text-align: right;
  list-style: none;
  border-right: 4px solid rgba(255, 255, 255, 0.3);
  padding: 0;
  margin: 3%;
}
.dropdown .dropdown__menu .menu__item--active {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  padding-right: 6%;
  cursor: pointer;
}
.dropdown .dropdown__menu .menu__item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: #B3B3BA;
  padding-bottom: 2%;
  padding-right: 6%;
  text-align: inherit;
}
.dropdown .dropdown__menu .menu__item:hover {
  color: #F0145A;
  transform: scale(0.9);
  transition: all 0.5s;
  cursor: pointer;
}
.dropdown .dropdown__desc {
  width: 65%;
  text-align: left;
  color: #fff;
}
.dropdown .dropdown__desc .dropdown__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  padding-bottom: 2%;
}
.dropdown .dropdown__desc .dropdown__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
}

.section {
  width: 84%;
  margin: 0 auto;
}
.section .section__heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  padding-top: 2%;
}
.section .section__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  padding-bottom: 2%;
  padding-top: 2%;
}
.section .section__content {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-start;
  flex-wrap: wrap;
}
.section .section__content .section__item {
  width: 32%;
  padding-right: 3%;
}
.section .section__content .section__item .section__img {
  padding-bottom: 2%;
}
.section .section__content .section__item .section__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  padding: 3% 0 3% 0;
}

.slider {
  width: 84%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3%;
  background-color: #F5F5FA;
}
.slider .slider__content {
  padding: 3%;
}
.slider .slider__content .slider__hading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
.slider .slider__content .slider__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  padding-bottom: 3%;
  padding-top: 1%;
}
.slider .slider__content .slider__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
}
.slider .slider__content .slider__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
}/*# sourceMappingURL=main.css.map */